<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
        <targets>
            <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}.txt" keepFileOpen="false" />
            <target name="errorfile" xsi:type="File" fileName="${logDirectory}/${level}.txt" keepFileOpen="false" layout="${longdate}|${level}|${logger}|${message}|${exception:format=ToString}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="logfile" />
            <logger name="*" minlevel="Error" writeTo="errorfile" />
        </rules>
    </nlog>
</configuration>